<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo ao Maps WebRota</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <img class=".imglogo" src="{{ url_for('static', filename='img/webRotas.jpg') }}" width="220" height="100">
</head>

<body>

    <h1> Realizar Login</h1>
    <form action="/login" method="post">
        <button type="submit" > Login </button>
    </form>

</body>