<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Faça aqui seu Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <img class=".imglogo" src="{{ url_for('static', filename='img/webRotas.jpg') }}" width="220" height="100">
    </head>

    <body>
        <h1>Faça aqui seu Login</h1>

        <form action="/maps.html" method="post">

            email: <input type="email" name="renda_bruta"/>
            senha: <input type="password" name="senha"/>

            <button type="submit" > Logar </button>

        </form>

    </body>
    
</html>
